GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nXXXX\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=1AbCDeFGhijKLmnoPQRstuVWxyz
PORT=8787
LINE_CHANNEL_ACCESS_TOKEN=your-long-lived-channel-access-token
LINE_CHANNEL_SECRET=your-channel-secret
